
    <div id="page-top">
      <app-navbar></app-navbar>
      <!-- Hero-->
      <app-hero></app-hero>
      <!-- Quote/-->
      <app-quote></app-quote>
      <!-- App features section-->
      <app-feature></app-feature>
      <!-- Basic features section-->
      <app-basic-feature></app-basic-feature>
      <!-- Call to action section-->
      <app-action></app-action>
      <!-- App badge section-->
      <app-badge></app-badge>
      <!-- Footer-->
      <app-footer></app-footer>
    </div>
