<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
          <em class="bi bi-pen-fill"></em>
          <a class="login-brand fw-bold">QuizWiz</a>
      </div>
      <br>
      <!-- Login Form -->
      <form [formGroup]="form" (ngSubmit)="submitForm('normal')">

        <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
        <br><br>
        <div class="third-party-button" (click)="submitForm('google')">
            <div class="google-logo"></div>
            Log in with google
        </div>
        <br>
        <input type="submit" class="fadeIn fourth" value="Log In">

      </form>
      <a class="underlineHover" href="#">Dont have account? Register here</a>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover">Forgot Password?</a>
      </div>

    </div>
  </div>
