<section id="features">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                <div class="container-fluid px-5">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <app-feature-item 
                            icon="bi-newspaper" 
                            title="Create Quizzes" 
                            description="create public quizzes for everone or private ones for your students"></app-feature-item>
                        </div>
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <app-feature-item 
                            icon="bi-collection" 
                            title="Classrooms Integration" 
                            description="A dedicated classroom creation for centralizing of quizzes and grades"></app-feature-item>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <!-- Feature item-->
                            <app-feature-item 
                            icon="bi-award" 
                            title="Badge Award" 
                            description="Create you own badges to engage students in learning"></app-feature-item>
                        </div>
                        <div class="col-md-6">
                            <!-- Feature item-->
                            <app-feature-item 
                            icon="bi-bar-chart" 
                            title="Data Visualization" 
                            description="Track students performance with provided data analysis"></app-feature-item>
                      
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-0">
                <!-- Features section device mockup-->
                <div class="features-device-mockup">
  
                </div>
            </div>
        </div>
    </div>
</section>