/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr-bs4-alert';

//GENERIC UI
.toast-container {
  width: 100% !important;
}

.toast-top-center {
  margin-top: 10px !important;
}
.toast-error {
  background-color: transparent !important;
  border: 3px solid #d3d3d3 !important;
  border-radius: 40px !important
}
